@keyframes popup {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-popup {
    animation: popup 0.6s ease-out;
  }
  